sudo: required
dist: trusty
group: edge
addons:
  apt:
    packages:
      - mysql-server-5.6
      - mysql-client-core-5.6
      - mysql-client-5.6
  hosts:
      - magento2.travis
services:
  - rabbitmq
  - elasticsearch
language: php
php:
  - 7.4
env:
  global:
    - COMPOSER_BIN_DIR=~/bin
    - MAGENTO_HOST_NAME="magento2.travis"
  matrix:
    - MAGENTO_VERSION=2.4-develop
    - MAGENTO_VERSION=2.4 CODE_COVERAGE=1
matrix:
  allow_failures:
    - env: MAGENTO_VERSION=2.4-develop
cache:
  apt: true
  directories: $HOME/.composer/cache
before_install: ./travis/before_install.sh
install: ./travis/install.sh
before_script: ./travis/before_script.sh
script: phpunit -c $HOME/build/magento2ce/dev/tests/integration/phpunit.xml.dist --testsuite Integration
after_success: ./travis/after_success.sh
